<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>ch.okapi.sync_manager_service</string>

    <key>WorkingDirectory</key>
    <string>/opt/okapi/deamons/sync_manager</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/python3</string>
        <string>/opt/okapi/deamons/sync_manager/sync_manager.pysync_manager.py</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/opt/okapi/logs/sync_manager_service.log</string>

    <key>StandardErrorPath</key>
    <string>/opt/okapi/logs/sync_manager_service.err</string>

    <key>KeepAlive</key>
    <true/>
</dict>
</plist>

